{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'profile-picture-paint.png'%}">
    </a>
    <h1>William McAuley</h1>
    <p>This is a test website I deployed to Heroku(they make it very easy) using the new Salesforce agentforce development org. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.linkedin.com/in/william-mcauley-06042b13a/"><span class="glyphicon glyphicon-flash"></span> Linkedin Profile</a>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/WilliamMcAuley?tab=repositories"><span class="glyphicon glyphicon-flash"></span> Github Projects though most have been private</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Starter code for the website</a>
    <a href="{% url 'add_account' %}" class="btn btn-success btn-lg" style="margin: 10px;">
      <span class="glyphicon glyphicon-plus"></span> Add New Account
    </a>
  </div>
</div>
<div class="container">
  <div class="lead">
    There are many other tried and true ways to build a website that is connected to Salesforce. Here is why I would use Heroku
    <ul>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Use cases in the Insurance Industry for using Heroku</a></li>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python-fir" class="alert-link">How much does something like this cost?</a></li>
    </ul>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What is this site?</h3>
      <ul>
        <li>This is a website hosted(think godaddy.com) by a Salesforce product called Heroku.</li>
        <li>Behind the sences you can easily modify <a href="https://github.com/heroku/python-getting-started/blob/main/requirements.txt">anything and everything</a> on the site, although it is a step up from basic word press.</li>
        <li>The cool thing is this website is directly connected to my salesforce org where I track job applications</li>
        <li>I can even update job applications <a href="https://addons.heroku.com/">dirrectly from this site</a>, however since its public all the fields are read only</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> For all the R Shiny fans</h3>
      <ul>
        <li>Unfortently R is not an  <a href="https://www.heroku.com/languages">offically support lanague</a> however the opensource community has a <a href="https://github.com/virtualstaticvoid/heroku-buildpack-r">package you can use instead</a> which also supports R Shiny applications. </li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Offical Heroku Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">The offical Heroku website</a></li>
        <li><a href="https://devcenter.heroku.com/">The offical Heroku Dev Center</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top:1em">
    <div class="col-md-12">
      <p class="alert alert-info" role="alert">
        This is a personal project to test out Heroku and not a production level website. I do hope this can shed some light on what Heroku can do since there is limited information about it on the web. If you have specific questions please feel to reach out to me on Linkedin and I will do my best to try to help.
      </p>
    </div>
  </div>
</div>
{% endblock %}
