{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Should you use community sites or Heroku?</h1>
    <h2>Quick history of Heroku and Salesforce</h2>
    <p>Test text In the late 2010's a new platform called Heroku where you could easily build and host applications that worked for both desktop and mobile browsers. Now we take it a step further and leverage the salesforce connection via a special database salesforce and heroku built that allows you to make changes on the website and have that updated in salesforce....</p>
    <h2>TLDR</h2>
    <p>If you have the budget and need extrem flexibilty but want to offload security and maintance risk, Heroku is your choice. However if you have a smaller salesforce team who isn't as confortable outside of salesforce, community sites might be the best option.</p>
    <h2>Pros of Heroku</h2>
    <h4>Large list of supported langaues</h4>
    <p>Right of the bat you will notice you can use your favoriate programing lanague to extend your salesforce org. The offically supported lanagues is a good list however Rust and R aren't offically supported. Opensource support for Rust is non existance though R does have a recently updated build package(basically lets you use R to code) </p>
    <h4>CLI and Git hit the spot</h4>
    <p>Lovers of the CLI can rejoice, you can easily push changes via git and the heroku cli using 3 commands. git add . and then git commit -am "your commit message" and then just git push heroku main and your done.</p>
    <h4>Debugging is a breeze</h4>
    <p>There is also a add on you can use to see any logs in the browser to help troubleshoot</p>
    
    <h3>Cons of Heroku</h3>
    <h4>Opensource community</h4>
    <p>When Salesforce bought Heroku in 2010 it was an application platform as a service for Ruby and Java application. They had a free tier which many students built project on however in 2022 they made the decison to eliminate the free hosting tier that many new and soon to developers used for school and personal projects. Naturally the opensource moved to alternatives which have ended up be extremly competitive and now often times make Heroku the choice only if you use Salesforce. Adoption took a big hit as you needed a credit card and many build pack and add ons stop receiving support. Salesforce has recently reverted somewhat on that, however it still cost to actually get your app up and running in the world wide web. Salesforce cited fraud and absue as the reason for disconting it however even wanting to build a proof of concept in a corporate enviorment might be tough for some.</p>
    <h4>Cost and alternatives</h4>
    <p>As with everything salesforce there is loads of add ons and the pricing is only go to go up. They offer Shield to protect your application. However this is ontop of aws which they use. So if you have the development team you could just host everthing yourself. However in the enterprise world this opens up risk.</p>
    
    <h3>Rebuilding your website?</h3>
    <h4>Probably the best usecase</h4>
    <p>If your company is planning on rebuilding your website, why use word press when you could use Heroku. You don't have to worry about security if you use shield. The postgres salesforce connect 2 way sync allows you to build and customize customer contact us submission aka cases and your not bound by Apex. You could use a community site however the deployment capabilities of Heroku and github is something community site can't do. </p>

    <a href="{% url 'index' %}">← Back to Home</a>
  </div>
{% endblock %}
